{
  "plugins": [
    ["@babel/plugin-proposal-decorators", {"version": "legacy"}],
    // ["babel-plugin-typescript-decorators"],
    ["@babel/plugin-proposal-class-properties", {"loose": true}]
  ]
}
